{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "array-bracket-spacing": ["warn"],
    "array-callback-return": ["warn"],
    "arrow-parens": ["warn"],
    "arrow-spacing": ["warn", { "before": true, "after": true }],
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "comma-spacing": ["error", {"before": false, "after": true}],
    "comma-style": ["warn"],
    "consistent-this": ["error", "self"],
    "dot-notation": ["error"],
    "eol-last": ["error"],
    "eqeqeq": ["error", "smart"],
    "func-style": ["error", "expression", { "allowArrowFunctions": true }],
    "handle-callback-err": ["error"],
    "indent": ["error", 2, {"SwitchCase": 1, "VariableDeclarator": { "let": 2, "const": 2}}],
    "key-spacing": ["error", {"beforeColon": false, "afterColon": true}],
    "new-cap": ["error", {"capIsNew": false}],
    "newline-per-chained-call": ["off"],
    "no-console": "off",
    "no-iterator": ["warn"],
    "no-mixed-requires": ["error"],
    "no-nested-ternary": ["off"],
    "no-path-concat": ["error"],
    "no-restricted-globals": ["error", "event", "fdescribe"],
    "no-unneeded-ternary": ["error"],
    "no-unused-vars": ["off"],
    "no-useless-constructor": ["off"],
    "no-var": ["warn"],
    "object-curly-spacing": ["warn", "always", { "arraysInObjects": true, "objectsInObjects": true }],
    "prefer-arrow-callback": ["warn"],
    "prefer-const": ["warn"],
    "prefer-template": ["off"],
    "quote-props": ["warn", "as-needed"],
    "require-atomic-updates": "off",
    "space-before-blocks": ["warn"],
    "space-in-parens": ["warn"],
    "space-infix-ops": ["warn"],
    "strict": ["error", "never"],
    "@typescript-eslint/semi": ["error", "always"],
    "@typescript-eslint/no-unused-vars": ["error", {"vars": "all", "args": "after-used", "varsIgnorePattern": "React"}],
    "quotes": ["error", "single"]
  }
}
